    <H1 align="center"> {{problem.code}}:{{problem.name}} </H1>
    <p align="center">
        input: standard input<br>
        output: standard output<br>
    </p>


<p>
    {{problem.statement}}
</p>

<form  enctype="multipart/form-data" method="post">
    <fieldset>
        <center><b>Submit your code<b></center>
        <HR>
        <div align="center">
            <input type="file" id="solution" name="solution">
            <input type="submit" value="Submit">
        </div>
    </fieldset>
</form>